{% include "header/header.html.twig" %}


<section>
    <div class="container">
        <section id="repertoireFiltre">
            <h2>Le répertoire</h2>
            <div class="divFiltre">
                <div class="divOne">
                    <input type="text" name="newsletters" class="input" placeholder="Rechercher...">
                    {# <button type="submit" id="mainBtn">
                        <a href="#rechercher">Rechercher</a>
                    </button> #}
                </div>
                <div class="divTwo">
                    <div class="divCategorie">
                        <button type="button" id="allBtn" data-category="all">Toutes les catégories</button>
                        <button type="button" id="legumeBtn" class="filtreBtn" data-category="legume"><span><img src="{{ asset('/build/images/icons/legume.png')}}" alt="Légumes"></span>Légumes</button>
                        <button type="button" id="fruitBtn" class="filtreBtn" data-category="fruit"><span><img src="{{ asset('/build/images/icons/fruit.png')}}" alt="Fruits"></span>Fruits</button>
                        <button type="button" id="planteBtn" class="filtreBtn" data-category="plante"><span><img src="{{ asset('/build/images/icons/plante.png')}}" alt="Plantes"></span>Plantes</button>
                    </div>
                </div>
            </div>
        </section>
        <section id="repertoire">
            {% include 'repertoire/_element.html.twig' with {'elements': elements} %}
        </section>
        {# <button id="loadMoreBtn" class="mainBtn" data-offset="10" data-category="all">Afficher plus</button> #}
    </div>
</section>


{% include "footer/footer.html.twig" %}