@media (min-width: 768px) {
    nav {
        justify-content: center;
        flex-direction: row;

        ul {
            display: flex;
            flex-direction: row !important;
            justify-content: space-around;
            align-items: center;
            padding: 0;
            margin: 0;

            &:nth-child(1) {
                width: 20%;
                justify-content: center;
                margin-bottom: 0px;
            }

            &:nth-child(2) {
                width: 40%;
            }

            &:nth-child(3) {
                width: 40%;
            }
        }
    }
}